node_modules
.env
.env.payu-local
.env.payu-dev
.env.payu-prod
.env.payu-test.local
dist
build
.DS_Store
.vscode
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*.tsbuildinfo
APP3005/service_account.json
